<div class="blog-container">
  <h1>Blog Posts</h1>

  <div class="posts-grid">
    <% @posts.each do |post| %>
      <article class="post-card">
        <% if post.feature_image.present? %>
          <%= image_tag post.feature_image, class: "post-image" %>
        <% end %>
        
        <div class="post-content">
          <h2>
            <%= link_to post.title, blog_post_path(post.slug) %>
          </h2>
          
          <% if post.excerpt.present? %>
            <p class="post-excerpt"><%= post.excerpt %></p>
          <% end %>
          
          <div class="post-meta">
            <time datetime="<%= post.published_at.iso8601 %>">
                <%= post.published_at.strftime("%B %d, %Y") %>
            </time>
            
            <% if post.authors.present? %>
              <span class="separator">•</span>
              <span><%= post.authors.first&.dig("name") %></span>
            <% end %>
          </div>
          
          <% if post.tags.present? %>
            <div class="post-tags">
              <% post.tags.each do |tag| %>
                <span class="tag"><%= tag["name"] %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </article>
    <% end %>
  </div>
</div>
